.asanaBrowser {
  display: flex;
  flex-direction: column;
}

.button {
  display: flex;
  flex-wrap: nowrap;
  margin: auto;
  border: 1px solid black;
}


.cardObject {
  display: flex;
  flex-wrap: wrap;
}